<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41043989997-3j0c45tdi3cu3maeupe452mntueob36s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41043989997-3j0c45tdi3cu3maeupe452mntueob36s</string>
	<key>API_KEY</key>
	<string>AIzaSyA3oYApr649diqj_mRPgOtBN6BUuy39cqc</string>
	<key>GCM_SENDER_ID</key>
	<string>41043989997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bienkokate.racesRally</string>
	<key>PROJECT_ID</key>
	<string>racesrally</string>
	<key>STORAGE_BUCKET</key>
	<string>racesrally.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41043989997:ios:c91a4c0ef7c06b41bfc3e4</string>
</dict>
</plist>